## PYCITY SCHOOLS ANALYSIS

We analyzed 15 schools within the PyCity School District both Charter and District type by comparing their overal math and reading passing scores. Overall 65% of all students within the Pycity Schools are passing both categories. As we analyzed the budget of each school type it was determined that having a higher budget of more than 630.00 dollars did not neccessarily result in better math or reading skills overall, but in fact, the high budgeted schools under performed compared to the schools with a lower bugeted range of 585.00-630.00 dollars.

This appeared relative to the size of the schools. As the medium and small sized schools, those with 2000 or less students, outperformed the schools with relatively larger, of 2000-5000 with a passing average of 89% and higher.

Overall we were able to determine that as a whole, the charter schools within this district has a higher overall passing rate in both math and reading compared to those of the district type based schools. We can dive deeper into these numbers and determine if the smaller class sizes, location of schools and overall health of students mental and well beging effect these outcomes as a whole.

In [854]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np



# # File to Load 
school_data_loaded = r"C:\Users\Student\OneDrive\Desktop\module4 docs\Starter_Code\PyCitySchools\Resources\schools_complete.csv"
student_data_loaded = r"C:\Users\Student\OneDrive\Desktop\module4 docs\Starter_Code\PyCitySchools\Resources\students_complete.csv"


#  Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_loaded)
# school_data.head()

student_data = pd.read_csv(student_data_loaded)

# Combine the data into a single dataset.
# school_data_complete = pd.merge(school_data, student_data, how="left", on=["school_name", "school_name"])
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
# school_data_complete.head()

## DISTRICT SUMMARY

In [855]:
# Calculate the total number of unique schools
school_count =school_data_complete['School ID'].nunique()
school_count

15

In [856]:
# Calculate the total number of students
student_count =school_data_complete['Student ID'].nunique()
student_count

39170

In [857]:
# Calculate the total budget

total_budget = sum(school_data_complete.budget.unique())
print("Total Budget:", total_budget)

Total Budget: 24649428

In [858]:
# Calculate the average (mean) math score
average_math_score =school_data_complete['math_score'].mean()
print("Average Math Score:", average_math_score)

Average Math Score: 78.98537145774827

In [859]:
# Calculate the average (mean) reading score
average_reading_score =school_data_complete['reading_score'].mean()
print("Average Reading Score:", average_reading_score)

Average Reading Score: 81.87784018381414

In [860]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [861]:
passing_reading_count =school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage =passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [862]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [863]:
# # Create a high-level snapshot of the district's key metrics in a DataFrame
#district_summary = {}
district_summary = pd.DataFrame({
'Total Schools': [school_count],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_rate]
})


district_summary['Total Students'] = district_summary.apply(lambda x: "{:,}".format(x['Total Students']), axis=1)

district_summary["Total Budget"] = district_summary.apply(lambda x: "${:,.2f}".format(x['Total Budget']), axis=1)


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170.0","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [864]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
# school_types

In [918]:
# Calculate the total student count per school from school_data
total_students_per_school = school_data_complete.groupby('school_name')['size'].count()

# school_data_complete
# # merged_data = pd.merge(school_data, student_data, on='school_name', how='inner')
# merged_data = pd.merge(student_data, school_data, on='school_name', how='inner')
# # # merged_data

# total_student_count_per_school = merged_data.groupby('school_name')['Student ID'].sum()
# total_students_per_school

In [866]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.groupby('school_name')['budget'].sum()
# print(per_school_budget)

In [867]:
per_school_capita = merged_data.groupby('school_name')['Student ID'].count()
# print(per_school_capita)

In [868]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
# print(per_school_reading)

In [919]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]

school_students_passing_math = school_data_complete.groupby('school_name')['Student ID'].count()
# print(school_students_passing_math)

In [895]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete

students_passing_reading = school_data_complete[school_data_complete['reading_score'] >=70]

school_students_passing_reading = school_data_complete.groupby('school_name')['Student ID'].count()
# print(school_students_passing_reading)

In [894]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
# print(school_students_passing_math_and_reading)

In [899]:
# Use the provided code to calculate the passing rates

per_school_passing_math = school_students_passing_math / total_students_per_school *100
# per_school_passing_math = school_students_passing_math / school_count 

per_school_passing_reading = school_students_passing_reading / total_students_per_school* 100

overall_passing_rate = school_students_passing_math_and_reading / total_students_per_school* 100

overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [917]:
# Use the provided code to calculate the passing rates
# school_data_complete.head()

new_school_data_complete = school_data_complete.groupby(['school_name', 'type'])

total_student_group = new_school_data_complete['Student ID'].count()
total_budget_grp = new_school_data_complete['budget'].mean()
per_student_budget = (total_budget_grp/total_student_group)
average_math_grp = new_school_data_complete['math_score'].mean()
average_reading_grp = new_school_data_complete ['reading_score'].mean()
# passingmath_grp = new_school_data_complete.query('math_score >70')["School ID"].count()/student_count
# passingmath_grp = school_data_complete.query('math_score >70')["School ID"].count()/student_count
passingmath_grp = school_data_complete.query('math_score >70')["School ID"].count()/student_count
passing_readinggrp = school_data_complete.query('reading_score >70')["School ID"].count()/ student_count
# passing_readinggrp = school_data_complete.query('reading_score >70')["School ID"].count()/ total_student_group
overall_passing_rate = ((average_math_grp + average_reading_grp)/2)
# overall_passing_rate = school_students_passing_math_and_reading / total_students_per_school * 100
# overall_passing_rate = ((passing_readinggrp + passingmath_grp)/student_count)

# Create a DataFrame called `per_school_summary` with columns for the calculations above.
new_school_data_complete_df = pd.DataFrame({
'Total Student': total_student_group,
'Total School Budget': total_budget_grp,
'Per Student Budget': per_student_budget,
'Average Math Score': average_math_grp,
'Average Reading Score': average_reading_grp,
"% Passing Math": passingmath_grp,
"% Passing Reading": passing_readinggrp,
"%Overall Passing Rate": overall_passing_rate   
})


# new_school_data_complete_df["Total School Budget"] = new_school_data_complete_df["Total School Budget"].map("${:,.2f}".format)
# new_school_data_complete_df["Per Student Budget"] = new_school_data_complete_df["Per Student Budget"].map("${:,.2f}".format)

new_school_data_complete_df

,,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.723921,0.829717,79.041198
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.723921,0.829717,83.518837
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.723921,0.829717,78.934893
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.723921,0.829717,78.924425
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.723921,0.829717,83.584128
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.723921,0.829717,79.112082
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0.723921,0.829717,83.809133
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.723921,0.829717,78.906068
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.723921,0.829717,79.019429
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.723921,0.829717,83.942308
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.723921,0.829717,78.793698
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0.723921,0.829717,83.542589
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0.723921,0.829717,83.633639
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.723921,0.829717,83.631844
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.723921,0.829717,83.818611

## Highest-Performing Schools (by %Overall Passing )

In [875]:
Top_schools = new_school_data_complete_df.sort_values(by="%Overall Passing Rate", ascending=False)
Top_schools.head(5)

,,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.723921,0.829717,0.776819
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.723921,0.829717,0.776819
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.723921,0.829717,0.776819
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.723921,0.829717,0.776819
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.723921,0.829717,0.776819

# Bottom Performing Schools (By Passing Rate)

In [877]:
Bottom_schools = new_school_data_complete_df.sort_values(["%Overall Passing Rate"], ascending=True)
Bottom_schools.head(5)

,,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.723921,0.829717,0.776819
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.723921,0.829717,0.776819
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.723921,0.829717,0.776819
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.723921,0.829717,0.776819
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.723921,0.829717,0.776819

# MATH SCORE BY GRADE

In [878]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

In [879]:
# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean().reset_index()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean().reset_index()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean().reset_index()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean().reset_index()

#  Combine each of the scores above into single DataFrame called `math_scores_by_grade`
# math_scores_by_grade = 
math_scores_by_grade = pd.merge(ninth_grade_math_scores, tenth_grader_math_scores, on="school_name", suffixes=('_9th', '_10th'))
math_scores_by_grade = pd.merge(math_scores_by_grade, eleventh_grader_math_scores, on="school_name")
math_scores_by_grade = pd.merge(math_scores_by_grade, twelfth_grader_math_scores, on="school_name", suffixes=('_11th', '_12th'))

math_scores_by_grade.columns = ['', '9th', '10th', '11th', '12th']


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                                 9th       10th       11th       12th
0      Bailey High School  77.083676  76.996772  77.515588  76.492218
1     Cabrera High School  83.094697  83.154506  82.765560  83.277487
2    Figueroa High School  76.403037  76.539974  76.884344  77.151369
3        Ford High School  77.361345  77.672316  76.918058  76.179963
4     Griffin High School  82.044010  84.229064  83.842105  83.356164
5   Hernandez High School  77.438495  77.337408  77.136029  77.186567
6      Holden High School  83.787402  83.429825  85.000000  82.855422
7       Huang High School  77.027251  75.908735  76.446602  77.225641
8     Johnson High School  77.187857  76.691117  77.491653  76.863248
9        Pena High School  83.625455  83.372000  84.328125  84.121547
10  Rodriguez High School  76.859966  76.612500  76.395626  77.690748
11    Shelton High School  83.420755  82.917411  83.383495  83.778976
12     Thomas High School  83.590022  83.087886  83.498795  83.497041
13     Wilson High School  83.085578  83.724422  83.195326  83.035794
14     Wright High School  83.264706  84.010288  83.836782  83.644986

# READING SCORE BY GRADE

In [880]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean().reset_index()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean().reset_index()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean().reset_index()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean().reset_index()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.merge(ninth_grade_reading_scores, tenth_grader_reading_scores, on="school_name", suffixes=('_9th', '_10th'))
reading_scores_by_grade = pd.merge(reading_scores_by_grade, eleventh_grader_reading_scores, on="school_name")
reading_scores_by_grade = pd.merge(reading_scores_by_grade, twelfth_grader_reading_scores, on="school_name", suffixes=('_11th', '_12th'))

reading_scores_by_grade.columns = ['', '9th', '10th', '11th', '12th']

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                                 9th       10th       11th       12th
0      Bailey High School  81.303155  80.907183  80.945643  80.912451
1     Cabrera High School  83.676136  84.253219  83.788382  84.287958
2    Figueroa High School  81.198598  81.408912  80.640339  81.384863
3        Ford High School  80.632653  81.262712  80.403642  80.662338
4     Griffin High School  83.369193  83.706897  84.288089  84.013699
5   Hernandez High School  80.866860  80.660147  81.396140  80.857143
6      Holden High School  83.677165  83.324561  83.815534  84.698795
7       Huang High School  81.290284  81.512386  81.417476  80.305983
8     Johnson High School  81.260714  80.773431  80.616027  81.227564
9        Pena High School  83.807273  83.612000  84.335938  84.591160
10  Rodriguez High School  80.993127  80.629808  80.864811  80.376426
11    Shelton High School  84.122642  83.441964  84.373786  82.781671
12     Thomas High School  83.728850  84.254157  83.585542  83.831361
13     Wilson High School  83.939778  84.021452  83.764608  84.317673
14     Wright High School  83.833333  83.812757  84.156322  84.073171

# SCORES BY SCHOOL SPENDING

In [881]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [882]:
# print(school_spending_df["Per Student Budget"].head())
# school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace('$', '').str.replace(',', '')
# school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"])
# print(school_spending_df["Per Student Budget"].head())

In [883]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = new_school_data_complete_df.copy()

# # Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)
school_spending_df

,,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate,Spending Ranges (Per Student)
school_name,type,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.723921,0.829717,0.776819,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.723921,0.829717,0.776819,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.723921,0.829717,0.776819,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.723921,0.829717,0.776819,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.723921,0.829717,0.776819,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.723921,0.829717,0.776819,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0.723921,0.829717,0.776819,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.723921,0.829717,0.776819,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.723921,0.829717,0.776819,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.723921,0.829717,0.776819,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.723921,0.829717,0.776819,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0.723921,0.829717,0.776819,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0.723921,0.829717,0.776819,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.723921,0.829717,0.776819,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.723921,0.829717,0.776819,<$585

In [884]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["%Overall Passing Rate"].mean()

C:\Users\Student\AppData\Local\Temp\ipykernel_14224\2114509077.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\Student\AppData\Local\Temp\ipykernel_14224\2114509077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\Student\AppData\Local\Temp\ipykernel_14224\2114509077.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\Student\AppData\Local\Temp\ipykernel_14224\2114509077.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\Student\AppData\Local\Temp\ipykernel_14224\2114509077.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["%Overall Passing Rate"].mean()

In [885]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({" Average Math Score":spending_math_scores,
                                 "Average Reading Score":spending_reading_scores,
                                 "% Passing Math":spending_passing_math,
                                 "% Passing Reading":spending_passing_reading,
                                 "%Overall Passing Rate":overall_passing_spending})
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,0.723921,0.829717,0.776819
$585-630,81.899826,83.155286,0.723921,0.829717,0.776819
$630-645,78.518855,81.624473,0.723921,0.829717,0.776819
$645-680,76.997210,81.027843,0.723921,0.829717,0.776819

# SCORES BY SCHOOL SIZE

In [886]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [887]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

new_school_data_complete_df["School Size"] = pd.cut(new_school_data_complete_df["Total Student"], size_bins, labels=labels)
new_school_data_complete_df

,,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate,School Size
school_name,type,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.723921,0.829717,0.776819,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.723921,0.829717,0.776819,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.723921,0.829717,0.776819,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.723921,0.829717,0.776819,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.723921,0.829717,0.776819,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.723921,0.829717,0.776819,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0.723921,0.829717,0.776819,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.723921,0.829717,0.776819,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.723921,0.829717,0.776819,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.723921,0.829717,0.776819,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.723921,0.829717,0.776819,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0.723921,0.829717,0.776819,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0.723921,0.829717,0.776819,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.723921,0.829717,0.776819,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.723921,0.829717,0.776819,Medium (1000-2000)

In [888]:
# Calculate averages for the desired columns.
size_math_scores = new_school_data_complete_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = new_school_data_complete_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = new_school_data_complete_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = new_school_data_complete_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = new_school_data_complete_df.groupby(["School Size"])["%Overall Passing Rate"].mean()

C:\Users\Student\AppData\Local\Temp\ipykernel_14224\666667000.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = new_school_data_complete_df.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\Student\AppData\Local\Temp\ipykernel_14224\666667000.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = new_school_data_complete_df.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\Student\AppData\Local\Temp\ipykernel_14224\666667000.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = new_school_data_complete_df.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\Student\AppData\Local\Temp\ipykernel_14224\666667000.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = new_school_data_complete_df.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\Student\AppData\Local\Temp\ipykernel_14224\666667000.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = new_school_data_complete_df.groupby(["School Size"])["%Overall Passing Rate"].mean()

In [889]:
# Define the bins and labels
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# # # Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,0.723921,0.829717,0.776819
Medium (1000-2000),83.374684,83.864438,0.723921,0.829717,0.776819
Large (2000-5000),77.746417,81.344493,0.723921,0.829717,0.776819

# SCORES BY SCHOOL TYPE

In [890]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
# print(new_school_data_complete)

average_math_score_by_type = new_school_data_complete_df.groupby(["type"])["Average Math Score"].mean()
average_reading_score_by_type = new_school_data_complete_df.groupby(["type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = new_school_data_complete_df.groupby(["type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = new_school_data_complete_df.groupby(["type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = new_school_data_complete_df.groupby(["type"])["%Overall Passing Rate"].mean()

In [891]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.473852,83.896421,0.723921,0.829717,0.776819
District,76.956733,80.966636,0.723921,0.829717,0.776819